@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  width: 100%;
}

main {
  background-color: rgb(250, 240, 202);
}

header {
  background-color: rgb(13, 59, 102);
}

.titulo {
  text-align: center;
  padding: 30px;
  font-size: 60px;
  color: rgb(250, 240, 202);
  cursor: default;
}

.navbar {
  /* margin-top: 20px; */
  background-color: rgb(244, 211, 94);
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}

.nav-link {
  font-size: 30px;
}

.nav-link:hover {
  background-color: lightblue;
  border-radius: 3px;
}

footer {
  background-color: rgb(244, 211, 94);
  text-align: center;
  margin: auto;
}

footer p {
  text-align: center;
  color: black;
  cursor: default;
  font-size: 20px;
  margin: 0;
}

.redes-sociales {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.texto-footer {
  padding-top: 10px;
  font-size: 20px;
  margin: 0;
}

.linea-divisoria {
  border: none;
  height: 5px;
  background-color: rgb(13, 59, 102);
  margin: 0;
  opacity: 1;
}

.titulo-inicio {
  text-align: center;
  font-size: 40px;
  padding: 20px;
}

.parrafo-index {
  font-size: 30px;
}

.texto-main {
  text-align: center;
  padding-top: 10px;
  font-size: 20px;
  width: 80%;
}

h2 {
  font-size: 30px;
}

.parrafo-index {
  animation-duration: 3s;
  animation-name: slidein;
}

.imagen-index {
  animation: pulse 1s ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.acordeon {
  text-align: center;
  font-size: 30px;
}

.titulo-nosotros {
  text-align: center;
  font-size: 40px;
  padding: 20px;
}

.parrafo-nosotros {
  text-align: center;
  font-size: 25px;
  padding: 20px;
}

.titulos-acordeon {
  font-weight: bold;
  font-size: 30px;
}

.imagen-nosotros {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagen-nosotros {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagen-nosotros img {
  max-width: 100%;
  max-height: 100%;
  padding-top: 40px;
  width: 1000px;
  height: 400px;
}

.imagen-nosotros img {
  transform: translateX(100%);
  animation: slideIn 5s ease-in-out forwards;
}

@keyframes slideIn {
  50% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.main-produtctos {
  padding-bottom: 50px;
}

.titulo-productos {
  text-align: center;
  font-size: 40px;
  padding: 20px 0 50px 0;
}

.grillas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 35px;
}

.producto {
  background-color: rgb(112, 108, 97);
  padding: 15px;
  max-width: 1920px;
  margin: 0 auto;
}

.producto-imagen {
  width: 100%;
}

.producto-nombre {
  font-size: 30px;
  color: white;
  text-align: center;
  margin: 15px 0;
  line-height: 1.2;
  text-decoration: underline;
}

.producto-especificaciones {
  font-size: 20px;
  color: white;
  text-align: center;
  margin: 15px 0;
  line-height: 1.2;
}

.main-produtctos {
  max-width: 1920px;
  margin: 0 auto;
}

.producto {
  position: relative;
  z-index: 1;
  transform: scale(1);
  transition: transform 0.3s ease-in-out, z-index 0s 0.3s;
}

.producto:hover {
  transform: scale(1.1);
  z-index: 2;
}

.titulo-servicios {
  text-align: center;
  font-size: 40px;
  padding: 20px;
}

.contenedor-tarjetas {
  width: 100%;
  display: flex;
  max-width: 100%;
  justify-content: center;
  align-items: center;
}

.tarjetas {
  width: 100%;
  margin: 15px;
  border-radius: 6px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease;
}

.tarjetas:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}

.tarjetas img {
  width: 100%;
  height: 250px;
}

.tarjetas .contenido-tarjetas {
  padding: 15px;
  text-align: center;
}

.tarjetas .contenido-tarjetas p {
  line-height: 1.5;
  color: gray;
}

.tarjetas .contenido-tarjetas h2 {
  font-weight: 400;
  margin-bottom: 15px;
}

/* ANIMACION TEXTO ENTRA DE LADO */
.contenido-tarjetas {
  transform: translateX(-100%);
  animation: slideIn 1s ease-in-out forwards;
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.mapa {
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo-contacto {
  text-align: center;
  font-size: 40px;
  padding: 20px;
}

/* MEDIA QUERY */
@media (max-width: 540px) {
  .parrafo-index {
    font-size: 20px;
  }
  .titulo-inicio {
    font-size: 25px;
  }
}
@media (max-width: 540px) {
  .imagen-nosotros img {
    width: 1000px;
    height: 200px;
  }
}
@media (max-width: 540px) {
  .parrafo-nosotros {
    font-size: 20px;
  }
  .titulos-acordeon {
    font-size: 20px;
  }
  .titulo-nosotros {
    font-size: 25px;
  }
}
@media (max-width: 768px) {
  .grillas {
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
  }
}
@media (max-width: 540px) {
  .producto-nombre {
    font-size: 20px;
    text-decoration: underline;
  }
  .producto-especificaciones {
    font-size: 15px;
  }
  .titulo-productos {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .contenedor-tarjetas {
    flex-wrap: wrap;
  }
}
@media (max-width: 540px) {
  .titulo-tarjetas {
    font-size: 30px;
    text-decoration: underline;
  }
  .contenido-tarjetas {
    font-size: 15px;
  }
  .titulo-servicios {
    font-size: 30px;
  }
}
@media (max-width: 540px) {
  .titulo-contacto {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .titulo {
    font-size: 40px;
    padding: 20px 0 10px 0;
  }
}
/* OCULTA EL ICONO EL PANTALLAS PEQUEÑAS //*/
@media (max-width: 768px) {
  .navbar-brand {
    display: none;
  }
  .nav-link {
    font-size: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
