/* Header ---------------------------------- */
@media (max-width: 768px) {
    .titulo {
        font-size: 40px;
        padding: 20px 0 10px 0;
    }
}

/* OCULTA EL ICONO EL PANTALLAS PEQUEÑAS //*/
@media (max-width: 768px) {
    .navbar-brand {
        display: none;
    }

    .nav-link {
        font-size: 20px;
    }
}

/* Productos --------------------- */
@media (max-width: 768px) {
    .grillas {
        grid-template-columns: repeat(1, 1fr);
        gap: 5px;
    }
}

/* Servicios ------------------- */
@media (max-width: 768px) {
    .contenedor-tarjetas {
        flex-wrap: wrap;
    }
}