@media (max-width: 540px) {
    .imagen-nosotros img {
        width: 1000px;
        height: 200px;
    }
}

@media (max-width: 540px) {
    .parrafo-nosotros {
        font-size: 20px;
    }

    .titulos-acordeon {
        font-size: 20px;
    }

    .titulo-nosotros {
        font-size: 25px;
    }
}