
.acordeon {
  text-align: center;
  font-size: 30px;
}

.titulo-nosotros {
  text-align: center;
  font-size: 40px;
  padding: 20px;
}

.parrafo-nosotros {
  text-align: center;
  font-size: 25px;
  padding: 20px;
}

.titulos-acordeon {
  font-weight: bold;
  font-size: 30px;
}

.imagen-nosotros {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagen-nosotros {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagen-nosotros img {
  max-width: 100%;
  max-height: 100%;
  padding-top: 40px;
  width: 1000px;
  height: 400px;
}

.imagen-nosotros img {
  transform: translateX(100%);
  animation: slideIn 3s ease-in-out forwards;
}

@keyframes slideIn {
  50% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}