.titulo-inicio {
  text-align: center;
  font-size: 40px;
  padding: 20px;
}

.parrafo-index {
  font-size: 30px;
}

.texto-main {
  text-align: center;
  padding-top: 10px;
  font-size: 20px;
  width: 80%;
}

h2 {
  font-size: 30px;
}

.parrafo-index {
  animation-duration: 3s;
  animation-name: slidein;
}

/* animacion que hace que la imagen se agrande y regrese */
.imagen-index {
  animation: pulse 1s ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}